<script>
  import {GridWrap, GridColumn, GridColumnModifier} from '$lib/components/grid';

  import {urls} from '$lib/data/urls';

  const year = new Date().getFullYear();
</script>

<footer class="footer">
  <GridWrap>
    <GridColumn modifiers={[GridColumnModifier.Auto]}>
      <div class="footer__item">
        &copy;
        <a class="u-td--underline" href={urls.moocFlossLicence}>Copyleft</a>
        {year} by the
        <a class="u-td--underline" href={urls.moocFlossContributors}>contributors</a>
        to the course
      </div>
    </GridColumn>

    <GridColumn modifiers={[GridColumnModifier.ShrinkWrap]}>
      <div class="footer__item">
        Creative commons photos courtesy of
        <a class="u-td--underline" href={urls.publicityPod}>Publicity Pod</a> on Flickr
      </div>
    </GridColumn>
  </GridWrap>
</footer>
