/*------------------------------------*\
    MAIN CONTENT
\*------------------------------------*/
.area-main {}

.area-main__content {
  background-color: var(--struct-clr-ntrl-max);

  @include media-query(portable) {
    transition: all .5s ease-in-out;
    transform: translate3d(0,0,0);
    z-index: 5;

    [data-css-menu-state="menu-open"] > & {
      --transform-x: 300px;
      transform: translate3d(var(--transform-x),0,0);
    }
  }
}
