/*------------------------------------*\
    HEADINGS
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--struct-font-stack-alt);
  line-height: 1;
}
